@charset "utf-8";
/*================初始化====================*/
body,
ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
body {
  font-family: "微软雅黑";
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/*==============导航条开始==================*/
.active::after {
  content: "";
  width: 50px;
  border-bottom: 1px solid #fff;
}
/*==============导航条结束==================*/
/*==============全局样式开始==================*/
#container {
  width: 100%;
  height: 100%;
}
#page-one,
#page-two,
#page-three,
#page-four,
#page-five {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: 1s;
}
#page-one {
  background: linear-gradient(60deg, rgba(0, 0, 255, 0.7) 10%, rgba(0, 0, 255, 0.4) 50%, #ffffff 100%) no-repeat;
  opacity: 1;
}
#page-two {
  background: linear-gradient(30deg, rgba(0, 0, 255, 0.7) 10%, rgba(0, 0, 255, 0.4) 50%, #ffffff 100%) no-repeat;
}
#page-three {
  background: linear-gradient(-120deg, rgba(0, 0, 255, 0.7) 10%, rgba(0, 0, 255, 0.4) 50%, #ffffff 100%) no-repeat;
}
#page-four {
  background: linear-gradient(150deg, rgba(0, 0, 255, 0.8) 30%, rgba(0, 0, 255, 0.3) 60%, #ffffff 90%) no-repeat;
}
/*==============全局样式结束====================*/
/*==============箭头============================*/
.arrow {
  position: fixed;
  top: 25%;
  right: 0;
  width: 1.5rem;
  z-index: 10;
}
.arrowDown {
  transform: rotate(180deg);
  top: 35%;
}
/*==============个人简介========================*/
.intro {
  width: 100%;
  height: 400px;
  margin: 2rem auto 0;
}
.intro > .tip {
  width: 100%;
  margin: 0 auto;
  font: 1rem/1.5 "宋体";
  color: #460ae6;
  text-align: center;
}
.tip-title {
  margin: 0 auto;
  color: #321ee6;
  font-size: 1.875rem;
  width: 100%;
  text-align: center;
}
.intro > .top {
  width: 100%;
  height: 25%;
  position: absolute;
  top: 35%;
}
.photo {
  width: 40%;
  height: 100%;
  background: yellow;
  margin: 0 auto;
  border-radius: 50%;
  background: url(../img/photo2.png) no-repeat center;
  background-size: 84% 100%;
}
/*==============折纸==============*/
.wrap {
  width: 8rem;
  margin: 0 auto;
  position: relative;
}
.wrap > h2 {
  text-align: center;
  position: relative;
  z-index: 10;
  background: #c8c8c8;
  height: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.wrap div {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
.wrap span {
  display: block;
  height: 1.2rem;
  font: 0.6rem/1.2rem "微软雅黑";
  color: #fff;
  text-indent: 10px;
  opacity: 0.7;
}
/*===============技能介绍========================*/
.ability {
  border: 1px solid #fff;
  height: 20%;
}
.ability > li,
.study {
  text-indent: 5px;
  height: 20%;
  color: #fff;
  font-size: 0.5rem;
}
.topic {
  background: #ff6700;
  font-size: 1.3rem;
  height: 1.3rem;
  line-height: 1.3rem;
}
.program {
  position: absolute;
  font: 40px/60px "宋体";
  top: 70px;
  right: -200px;
  color: #fff;
}
.study {
  opacity: 0;
  position: absolute;
  top: 180px;
  left: 1115px;
  transition: .5s;
}
/*===============作品页=======================*/
#page-three > h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 10%;
  font: 30px/40px "微软雅黑";
}
.project {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}
.project > a {
  display: inline-block;
  width: 45%;
  transition: 1s linear;
  overflow: hidden;
}
.project > a > img {
  width: 100%;
}
/*===============结束页=======================*/
.tel {
  position: absolute;
  bottom: 25%;
  width: 100%;
  color: rgba(30, 0, 255, 0.7);
}
.footer {
  width: 100%;
  text-align: center;
  font: 1.2rem/1.5 "微软雅黑";
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  color: #fff;
}
